        body {font-family: Arial;}

        .unlockables{display: none;}

        .click10{display: none;}

        .click100{display: none;}

        .click250{display: none;}

        .cat5{display: none;}

    	p.ex1{display: inline;}

    	div.box1{
    		border: 5px solid lightgrey;
    		border-radius: 5px;
    	}

    	h2.box1{margin-left: 10px;}

    	.button{unselectable: "on";}

        .click button{
            display: inline-block;
            padding: 15px 15px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #000;
            background-color: #ff2626;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #b02a2a;
        }

        .click button:hover{
            background-color: #b82a2a;
            color: #fff;
        }

        .click button:active {
            background-color: #b82a2a;
            box-shadow: 0 5px #4f1c1c;
            transform: translateY(4px);
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        .tab button:hover {background-color: #ddd;}

        .tab button.active {background-color: #ccc;}

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }